name: Auto Sync Dev with Main

on:
  push:
    branches:
      - main

jobs:
  sync-dev:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}


      - name: Setup Git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"


      - name: Merge main into dev
        run: |
          git fetch origin
          git checkout dev
          git merge origin/main --allow-unrelated-histories --no-edit
          git push origin dev
